//Layout of project

//Container devices

$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

//Mixins of  media query

@mixin responsive($device) {
  @if $device==xl {

    // for resolutions uper than 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  }

  @else if $device==l {

    // for resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  }

  @else if $device==m {

    // for resolutions between 960px and 1140px
    @media screen and (max-width: $container-l) and (min-width: $container-m) {
      @content;
    }
  }

  @else if $device==s {

    // for resolutions less than 960px 
    @media screen and (max-width: $container-m) {
      @content;
    }
  }

  @else if $device==xs {

    // for resolutions less than 540px 
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.container {
  max-width: $container-xl;
  margin: 0 auto;

  padding: 96px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  @include responsive(s) {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-auto {
  flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

//Hero

.hero {
  background: linear-gradient(180deg, #f3d7df 0%, rgba(255, 226, 234, 0.5) 83.7%, rgba(229, 239, 255, 0) 100%);
}

.red {
  background-color: red;
}

.content-video{
  position: relative;
  

  img{
    position: absolute;
    z-index: -1;
  }
}

.symbol-biggest{
  top: -220px;
  left: -70px;
  height: 600px;
}

.symbol-normal{
  top: 400px;
  left: 100px;
  height: 150px;
}

.symbol-small{
  top: 280px;
  left: -500px;
  height: 76px;
}

.responsive-video {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 9;
}

.content-about {

  img {
    box-shadow: 0px 3.204559087753296px 5.026759624481201px 0px #EF435807;

    box-shadow: 0px 8.860197067260742px 13.898346900939941px 0px #EF43580A;

    box-shadow: 0px 21.331939697265625px 33.46186447143555px 0px #EF43580D;

    box-shadow: 0px 70.75956726074219px 110.99540710449219px 0px #EF435814;

    border-radius: 45px;
    width: 325px;
    height: 325px;
  }
}

.content-about-2{
  img{
    height: 500px;
  }
}

ul, li{
  list-style: none;
}

.check{
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    width: 30px;
  }
}